.container {
  max-width: 500px;
  margin: 50px auto;
  font-family: Arial;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

input {
  padding: 10px;
  flex: 1;
}

button {
  padding: 10px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eee;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
